.editor-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: $container-color;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 40px 1px rgb(0 0 0 / 50%);
  width: 40vw;
  justify-self: center;

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, textarea{
      padding: 10px;
    }

    h2 {
      font-size: 1.3rem;
    }
  }
}