.editor-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: $container-color;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 40px 1px rgb(0 0 0 / 50%);
  width: 45vw;
  height: fit-content;
  justify-self: center;

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, textarea{
      padding: 10px;
    }

    textarea{
      height: auto;
    }

    .date-buttons {
      display: grid;
      grid-template-columns: repeat(3, auto) 1fr;
      gap: 10px;
      align-items: center;

      input {
        width: 150px;
      }

      .action-buttons{
        justify-self: end;
      }
    }
  }
  
  h2 {
    font-size: 1.5rem;
  }

  .component-header {
    margin-top: 25px;
  }

  .preview-action {
    display: grid;
    grid-template-columns: auto 1.5rem 1.5rem;

    h3{
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .edit {
      grid-row: 1 / -1;
      grid-column: 2 / 3;
    }

    .remove {
      grid-row: 1 / -1;
      grid-column: 3 / 4;
    }

    .edit, .remove {
      justify-self: end;
    }

    button { 
      width: fit-content;
      background-color: transparent;
      font-size: 1.3rem;
      cursor: pointer;
    }

    button:hover{
      scale: 1.2;
      transition: $transition-time;
    }
  }

  .action-buttons{
    display: flex;
    gap: 10px;

    .button-submit{
      background-color: $save-button;
    }

    .button-cancel{
      background-color: $cancel-button;
    }

    button {
      cursor: pointer;
      border-radius: 4px;
      padding: 5px 10px;
    }

    button:hover{
      transition: $transition-time;
      filter: brightness(85%);
    }
  }
}