header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $header-color;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 50%);
  position: relative;

  &> span {
    font-size: 2.5rem;
    font-weight: bold;
    color: $header-font-color;
  }

  .demo {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    margin-right: 20px;

    button {
      padding: 10px 20px;
      border-radius: 4px;
      background-color: $body-color;
      color: $main-font-color;
      cursor: pointer;
    }

    button:hover{
      transition: $transition-time;
      filter: brightness(85%);
    }
  }
}