@media only screen and (max-width: 1200px) {
  body {
    .app {
      grid-template-columns: 1fr;
      gap: 20px;

      header {
        height: 80px;

        &> span {
          font-size: 2rem;
          font-weight: bold;
          color: $header-font-color;
        }
      }

      .editor-container, .preview-cv {
        width: 97vw;
      }
    }
  }
}