.preview-cv{
  display: flex;
  flex-direction: column;
  background-color: $container-color;
  box-shadow: 0 0 40px 1px rgb(0 0 0 / 50%);
  width: 45vw;
  min-height: 800px;
  height: fit-content;
  justify-self: center;
  word-wrap: break-word;
  padding-bottom: 50px;

  .preview-header{
    background-color: $header-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;

    .preview-name{
      font-size: 2.5rem;
    }

    span{
      color: $header-font-color;
    }
  }

  .preview-section{
    margin-top: 15px;
    padding: 10px 20px;

    .preview-experience{
      display: grid;
      grid-template-columns: 140px 1fr;
      padding-bottom: 20px;

      .preview-date{
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .preview-exp-highlight{
        font-size: 1.5rem;
      }
    }

    .preview-experience:last-child{
      padding-bottom: 0px;
    }

    span {
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  .preview-title{
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 5px;
  }
}