.preview-cv{
  display: flex;
  flex-direction: column;
  background-color: $container-color;
  border-radius: 4px;
  box-shadow: 0 0 40px 1px rgb(0 0 0 / 50%);
  width: 40vw;
  justify-self: center;
  word-wrap: break-word;

  .preview-header{
    background-color: $header-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;

    .preview-name{
      font-size: 2.5rem;
    }

    span{
      color: $header-font-color;
    }
  }

  .preview-section{
    margin-top: 15px;
    padding: 10px 20px;

    .preview-experience{
      display: grid;
      grid-template-columns: 140px 1fr;
      padding-bottom: 20px;

      .preview-exp-leftside{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .preview-exp-company{
        font-size: 1.5rem;
      }
    }
  }

  .preview-title{
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 5px;
  }
}