$header-color: #44403c;
$header-font-color: #fafaf9;
$main-font-color: #1c1917;
$body-color: #f5f5f4;
$container-color: #FFFFFF;
$cancel-button: #f87171;
$save-button: #4ade80;
$transition-time: 0.5s;